.App {
  text-align: center;
}

.div {
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 20px;
}

.RepoList {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: aliceblue;
  border: 1px solid #854442;
  padding: 50px;
  transform: translate(35%, 10%);
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
  background-color: ghostwhite;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25),
  -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  height: 40px;
}

.card .card_description {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-top: 10px;
  height: 40px;
}

.card .card_repo_language {
  font-family: "SF Mono", serif;
  font-size: 15px;
  margin-top: 110px;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title-slategray {
  color: slategray;
}

.title-darkgrey {
  color: darkgrey;
}

.title-cadetblue {
  color: cadetblue;
}

body {
  margin:0;
  padding:0;
  background:whitesmoke;
}

h4 {
  margin:0;
  padding:0;
  font-family: sans-serif;
  text-align:center;
  color:#000;
  font-size:12px;
  padding:15px 0;
  text-transform: uppercase;
  letter-spacing:1px;
}

.switch {
  display: ruby;
}